.App {
	max-width: 600px;
	margin: 30px auto;
}

footer {
	padding-top: 15px;
}

a:any-link {
	text-decoration: none;
}

body {
	font-family: "Nunito", sans-serif;
}

h1 {
	color: #ff5126;
	font-size: 45px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;

	color: rgb(78, 78, 78);
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
}

li:first-letter {
	text-transform: capitalize;
}
