.Weather {
	padding: 20px;
	border: 1px solid #00aaa0;
	border-radius: 8px;
}

.Weather .search-btn {
	background-color: #0082aa;
	border: none;
	transition: ease-in-out 150ms all;
	font-weight: 500;
}

.Weather .search-btn:hover {
	background-color: #ff5026;
}

.Weather .location-icon {
	color: #0082aa;
	font-size: 30px;
	padding-top: 5px;
	align-items: center;
	justify-content: center;
	transition: ease-in-out 150ms all;
	cursor: pointer;
}

.Weather .location-icon:hover {
	color: #ff5026;
}

.Weather img {
	height: 136px;
	width: 116px;
	padding-bottom: 25px;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.Weather .overview {
	margin-left: 10px;
}

.Weather .weather-temperature {
	color: white;
	font-family: "Nunito", sans-serif;
	font-size: 80px;
	font-weight: 400;
	padding-left: 50px;
}

.Weather .weather-temperature .units {
	position: relative;
	font-size: 16px;
	top: -35px;
	padding-left: 5px;
}

.Weather .weather-temperature .active {
	color: rgb(33, 33, 33);
	cursor: default;
}

.Weather .weather-temperature .active:hover {
	text-decoration: none;
}

.Weather .WeatherForecast-temperatures {
	text-align: center;
	color: black;
	font-size: 15px;
	font-weight: 500;
	height: auto;
	line-height: 15px;
	white-space: nowrap;
}

.Weather a {
	color: white;
}

.Weather a:hover {
	color: #ff5026;
}

.calendar-icon {
	opacity: 0.6;
}

.day .Weather {
	background: linear-gradient(to top, #ead9bed3 0%, #a6d8ee 100%);
	color: black;
}

.day h1 {
	color: black;
}

.day .description-title {
	color: black;
}

.day .WeatherForecast-temperatures span {
	color: black;
}

.day .Weather .units a {
	color: black;
}

.day .Weather .units {
	color: black;
}

.night .Weather {
	background: linear-gradient(to bottom, #96adbf 0%, #596164 100%);
	color: white;
}

.night li,
h1,
span {
	color: white;
}

@media (max-width: 575.98px) {
	h1 {
		font-size: 50px;
		text-align: center;
	}

	ul {
		margin: 10px 10px;
	}

	.search-btn {
		margin-top: 10px;
	}

	.location-icon {
		display: flex;
	}

	.overview {
		margin: 40px 30px 0;
	}

	.overview .weather-temperature {
		padding-left: 85px;
	}

	.Weather .weather-temperature {
		font-weight: 300;
	}
}
