.WeatherForecast {
	text-align: center;
	padding-top: 20px;
}

.WeatherForecast-temperature-min {
	opacity: 0.6;
	margin-left: 5px;
}

.WeatherForecast img {
	height: 60px;
	width: 60px;
	padding-bottom: 0;
}
