.Weather {
	padding: 20px;
	border: 1.5px solid #00aaa0;
	border-radius: 8px;
}

.Weather .search-btn {
	background-color: #ff5126;
	border: none;
}

.Weather img {
	height: 136px;
	width: 116px;
	padding-bottom: 25px;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.Weather .weather-temperature {
	color: rgb(33, 33, 33);
	font-size: 64px;
	font-weight: 400;
	padding-left: 30px;
}

.Weather .weather-temperature .units {
	position: relative;
	font-size: 16px;
	top: -35px;
	padding-left: 5px;
}

.Weather .weather-temperature .active {
	color: rgb(33, 33, 33);
	cursor: default;
}

.Weather .weather-temperature .active:hover {
	text-decoration: none;
}

.Weather .weather-forecast {
	margin-top: 10px;
}

.Weather .weather-forecast h3 {
	color: rgb(186, 186, 186);
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	height: 15px;
	line-height: 15px;
	padding-top: 7px;
}

.Weather .weather-forecast img {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
}

.Weather .weather-forecast-temperature {
	text-align: center;
	color: rgb(135, 135, 135);
	font-size: 13px;
	font-weight: 400;
	height: auto;
	line-height: 15px;
	white-space: nowrap;
}
